{% extends "navbar.html" %}


{% block title %}
{{user.username}}
{% endblock title %}



{% block style_css %}{% endblock style_css %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        {% if user.user_profile.profile_pic %}
        <img src="/media/{{user.user_profile.profile_pic}}" width="250px" class="rounded-circle"  alt="Cinque Terre">

        {% else %}
        <img src="/media/Default_profile_pic.png" width="250px" class="rounded-circle"  alt="Cinque Terre">
        {% endif %}
    </div>
    <div class="col-sm-8">
        <h3>{{user.username}} <a href="{% url 'App_Login:edit_Profile' %}" class="btn btn-light">Edit Profile</a></h3>
        <br>
        <h4>{{user.post.count}} Posts &nbsp; &nbsp; {{user.following.count}} Followers &nbsp;
            &nbsp;{{user.followers.count}} following</h4>
        <br>
        <h4>{{user.user_profile.full_name}}</h4><br>
        <h6>{{user.user_profile.descriptions | linebreaks}}</h6>

    </div>
</div>
<hr>
{% endblock content %}